.form {
    .wrapper,
    fieldset {
      margin-bottom: 20px;
    }
  
    fieldset {
      padding: 10px;
      border: 2px solid $black;
      border-radius: 10px;
  
      .wrapper-adress > div {
        margin-bottom: 10px;
      }
    }
    btn-wrapper {
      display: flex;
        .btn-primary{
          margin: auto;
        }
    }
  }

  @media screen and (min-width: 960px) {
    .form {
      .wrapper-adress {
        display: flex;
        gap: 2%;
        div {
          min-width: 48%;
        }
      }
    }
  }