.header {
    width: 100%;
    background-color: $black;
    color: $white;
  
    a {
      color: $white;
    }
    .logo-container a {
      font-size: 1.1rem;
    }
  
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 70px;
      padding: 0 2vw;
      gap: 10px;
    }
  
    .nav-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
  
      .nav-link:hover {
        color: $color-secondary;
      }
    }
  }

  @media screen and (min-width: 500px) {
    .header {
      .nav {
        flex-direction: row;
        justify-content: space-between;
      }
      .nav-container {
        width: auto;
        gap: 2vw;
      }
    }
  }