@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/MonumentExtended-Bold.woff2") format("woff2"),
    url("../fonts/MonumentExtended-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/MonumentExtended-Regular.woff2") format("woff2"),
    url("../fonts/MonumentExtended-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$color-primary: #0f0f0f;
$color-secondary: #a8dd35;
$color-tertiary: #1c1c1c;
$black: #000000;
$white: #fff;
$cancel: #c53548;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

html {
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow-x: hidden;
  color: $color-tertiary;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-primary;
  font-family: "Monument Extended", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

button,
a {
  cursor: pointer;
  font-family: "Monument Extended", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
}
a {
  color: $color-tertiary;
  text-decoration: none;
}

input,
select {
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  outline: 0;
  border-width: 0 0 2px;
  border-color: $color-primary;
  font-size: 0.8rem;
}
input:focus,
select:focus {
  border-color: $color-tertiary;
  outline: none;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  text-transform: uppercase;
}
li {
  list-style-type: none;
}

.h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-error {
  color: $cancel;
  font-size: 0.8rem;
  margin-top: 5px;
  text-transform: initial;
}

//Button
.btn-primary {
  display: inline-block;
  position: relative;
  background: none;
  border: 2px solid $color-tertiary;
  border-radius: 20px;
  color: $color-tertiary;
  padding: 20px 25px;
  font-size: 1rem;
  margin: 1.9rem 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.btn-primary:hover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 0;
  height: 0;
  background-color: $color-tertiary;
  opacity: 0;
  border-radius: 20px;
  animation: pulse 0.5s ease-out both;
  z-index: -1;
}
.btn-primary:hover a {
  color: $white;
  transition: 0.5s ease-out;
}
@keyframes pulse {
  0% {
    opacity: 1;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    width: 120%;
    height: 120%;
  }
}

@media screen and (min-width: 960px) {
  .h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
}