.create {
    position: relative;
    display: flex;
    min-height: calc(1080px - 250px);
    flex-direction: column-reverse;    
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    // background: url("../../assets/blob.svg") no-repeat;
    background-size: auto;
    background-position: bottom;
  
    .img-block {
      max-width: 350px;
      width: 40%;
      position: relative;
      img {
        // width: 100%;
        width: 85%;
      }
    }
  
    .form-wrapper {
      max-width: 650px;
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: auto;
      overflow: hidden;
    }
    .modal {
      margin-top: 20px;
      width: 80%;
      bottom: 0px;
      right: 0px;
      max-width: 320px;
  
      .close-btn {
        top: -15px;
      }
    }
  }


  @media screen and (min-width: 650px) {
    .create {
      background-size: 80%;
      background-position: 50% 110%;
    }
  }
  
  @media screen and (min-width: 960px) {
    .create {
      background-size: 65%;
      background-position: 50% 115%;
    }
  }
  @media screen and (min-width: 1240px) {
    .create {
      flex-direction: row;
      background-size: 70%;
      background-position: -120% center;
  
      .img-block {
        width: 300px;
        position: absolute;
        left: 66.6px; 
        top: 50%;
        transform: translate(-10%, -50%);
      }
      .modal {
        position: absolute;
        bottom: 20px;
        right: 20px;
  
        .close-btn {
          top: -15px;
        }
      }
    }
  }
  @media screen and (min-width: 1440px) {
    .create {
      flex-direction: row;
      background-size: 50%;
      background-position: -50% center;
  
      .img-wrapper {
        width: 350px;
        transform: translate(0%, -50%);
      }
    }
  }  