.employee-list {
    position: relative;
    display: flex;    
    width: 100%;
   min-height: calc(1080px - 150px);
    
    .img-wrapper {      
        display: none;
      }
      .content-wrapper {
        margin-top: 150px;
        width: 90%;
        margin: auto;
      }
    }
    
    @media screen and (min-width: 1240px) {
      .employee-list {
        width: auto;
        flex-direction: row;
        justify-content: space-between;
        // background: url("../../assets/blob.svg") no-repeat;
        background-size: 70%;
        background-position: -100% 0px;
        padding: 0 50px;
    
        .img-wrapper {
          display: block;
          margin-top: 150px;
          width: 40%;
          img {
            width: 100%;
          }
        }
        .content-wrapper {
          margin-top: 150px;
          max-width: 1200px;
          width: 60%;
        }
      }
    }
    
    @media screen and (min-width: 1440px) {
      .employee-list {
        // background: url("../../assets/blob.svg") no-repeat;
        background-size: 50%;
        background-position: -50% -108px;
        .img-wrapper {
          width: 30%;
        }
        .content-wrapper {
          width: 70%;
        }
      }
    }
  